---

- name: ZOOKEEPER | Create zookeeper config path
  file:
    path: "{{ zookeeper_conf_path }}"
    state: directory
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_group }}"
    mode: "0750"
    recurse: true

- name: ZOOKEEPER | myid
  template:
    src: "{{ zookeeper_myid_template_path }}"
    dest: "{{ zookeeper_data_path }}/myid"
    mode: "0640"
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_group }}"
  notify: restart zookeeper

- name: ZOOKEEPER | Copy server config
  template:
    src: "{{ zookeeper_server_template_path }}"
    dest: "{{ zookeeper_conf_path }}/zoo.cfg"
    mode: "0640"
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_group }}"
  notify: restart zookeeper

- name: ZOOKEEPER | Create /etc/default/zookeeper
  template:
    src: "{{ zookeeper_default_template_path }}"
    dest: /etc/default/zookeeper
    mode: "0640"
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_group }}"
  notify: restart zookeeper
