---

- name: ZOOKEEPER | Ensure zookeeper group
  group:
    name: "{{ zookeeper_group }}"
    state: present

- name: ZOOKEEPER | Ensure zookeeper user
  user:
    name: "{{ zookeeper_user }}"
    group: "{{ zookeeper_group }}"
    state: present
    createhome: no

- name: ZOOKEEPER | Copy Daemon script
  template:
    src: "{{ zookeeper_service_template_path }}"
    dest: /lib/systemd/system/zookeeper.service
    mode: 0644
  notify: restart zookeeper

- name: ZOOKEEPER | Set JAVA_HOME
  lineinfile:
    path: /etc/profile
    regexp: '^export JAVA_HOME='
    line: 'export JAVA_HOME={{ zookeeper_java_home }}'

- name: ZOOKEEPER | Set PATH
  lineinfile:
    path: /etc/profile
    regexp: '^export PATH='
    line: 'export PATH=$JAVA_HOME/bin:$PATH'

- name: ZOOKEEPER | Check whether already downloaded and extracted
  stat:
    path: "{{ zookeeper_install_path }}/apache-zookeeper-{{ zookeeper_version }}-bin"
  register: zookeeper_path

- name: ZOOKEEPER | Fetch Zookeeper package
  get_url:
    url: "{{ zookeeper_url }}"
    dest: /tmp
    checksum: "sha512:{{ zookeeper_checksum_url }}"
    mode: "0640"
  when: not zookeeper_path.stat.exists

- name: ZOOKEEPER | Create installation path
  file:
    path: "{{ zookeeper_install_path }}/apache-zookeeper-{{ zookeeper_version }}"
    state: directory
    mode: "0760"
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_user }}"
  when: not zookeeper_path.stat.exists

- name: ZOOKEEPER | Extract Zookeeper package
  unarchive:
    src: "/tmp/apache-zookeeper-{{ zookeeper_version }}-bin.tar.gz"
    dest: "{{ zookeeper_install_path }}/apache-zookeeper-{{ zookeeper_version }}"
    extra_opts: [--strip-components=1]
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_group }}"
    mode: "0750"
    remote_src: true
  when: not zookeeper_path.stat.exists

- name: ZOOKEEPER | Symlink Zookeeper to install path
  file:
    src: "{{ zookeeper_install_path }}/apache-zookeeper-{{ zookeeper_version }}"
    dest: "{{ zookeeper_install_path }}/zookeeper"
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_group }}"
    state: link

- name: ZOOKEEPER | Create data path
  file:
    path: "{{ zookeeper_data_path }}"
    state: directory
    mode: "0760"
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_user }}"

- name: ZOOKEEPER | Create logs path
  file:
    path: "{{ zookeeper_log_path }}"
    state: directory
    mode: "0760"
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_user }}"
